* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #d2dbdd;
}

div {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
